<div id="map">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>
  <script>
    let markers = {{ $.Site.Data.map.vacation_spots }};
  </script>
  <script src="/js/map.js"></script>
  </div>
  