<!DOCTYPE html>
<html> 
  <style>
    button:hover {
      cursor: pointer;
    }
    
    button:hover::before {
      transform-origin: center left;
      transform: scaleX(1);
    }
    
    /******************/
    /* visited state */
    
    a:visited {
      background-color: rgb(124, 122, 160);
      border-color: hotpink;
    }
    /* hover state */
    
    a:hover {
      background-color: rgb(0, 255, 55);
    }
    /* focus state */
    
    a:focus {
      background-color: green;
    }
    
    a:active {
      color: rgb(38, 0, 255);
    }
    
    .box-button {
      box-shadow: 8px 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    .card {
      padding: 10px;
      height: 120px;
      border: none;
      -webkit-box-shadow: 0px 1px 9px 3px rgb(210, 219, 215);
      -moz-box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
      /* box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);*/
      box-shadow: rgba(240, 46, 169, 0.575) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    
      justify-content: center;
      align-items: center;
    }
    
    .box-button {
      box-shadow: 8px 10px 10px 10px rgba(0, 0, 0, 0.5);
    }

  </style>
<body>
  {{ partial "head.html" . }}
  {{ partial "header.html" . }}
  {{ block "header" . }} {{ end }}
  {{ block "main" . }} {{ end }} 
  {{ block "footer" . }} {{ end }}
  {{ partial "script-footer" . }}
</body>
</html>

    