<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta
      name="description"
      content="{{ if .Description }}{{ .Description }}{{ end }}"
    />
    <meta
      name="author"
      content="{{ if .Params.authors }}{{ .Params.authors }}{{ else if .Site.Params.Author }}{{.Site.Params.Author}}{{ end }}"
    />
   
    <title>{{ .Title }} -- {{ .Site.Title }}</title>
  
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <!-- Boostrap icons v1.3 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <!--meb css  -->
    <link  rel="stylesheet"
    href="css/meb.css"
  />

    <!-- google font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Trirong"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-25295690-1"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-25295690-1");
    </script>

</head>
<body>

{{ partial "header.html" . }}

{{ block "header" . }} {{ end }}
{{ block "main" . }} {{ end }} 
{{ block "footer" . }} {{ end }}
</body>

</html>

    