{{ define "main"}}
    <!-- add button on each page -->
    <div class="container text-center">

        <div class="row g-3 pt-0 mt-1">
            <div class="col container ">
                {{ range .Pages }}
                    <a class="btn border border-2 box-button text-primary-emphasis border-primary-subtle rounded-3 py-2" href="{{ .RelPermalink }}" role="button">{{ .Title }}              
                    </a> 
                {{ end }}
            </div>
        </div>  
    </div>
    <!-- Add the md content -->
    <div class="container-fluid bg-light">{{ .Content }}</div>
{{ end }}

{{ define "footer"}}
    <!-- add footer-->
    <h1 class="text-center bg-success">{{ partial "footer.html" . }}</h1>

{{ end }}

