

{{ define "main"}}
    <div class="container-flex  border-start border-danger border-5 ms-1">

        <div class="row">
            <div class="col-sm-12">
                <div class="shadow-lg p-3 mb-5 bg-white rounded border border-5">{{ .Content }}</div>
            </div>
        </div>
    </div>
    
{{ end }}

{{ define "footer"}}

    <!-- add footer-->
    <h1 class="text-center bg-success">{{ partial "footer.html" . }}</h1>

{{ end}}
