<!-- grid display  intro section in grid -->
<div class="container">
  <div class="row">
    <div class="col p-1">
      <div class="container-sm text-center mx-auto pb-2 pt-2">
        {{ partial "nos-actions-depuis-2002.html"}}
        <!-- list group -->
        <div class="list-group">
          <a
            href="/galleries/ecole/"
            class="list-group-item list-group-item-action active"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Ecole</h5>
            </div>
            <p class="mb-1">{{ partial "ecole.html" }}</p>
          </a>
          <a
            href="/Boni/rapport-de-formation2020.pdf"
            class="list-group-item list-group-item-action list-group-item-secondary"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Sante</h5>
            </div>
            <p class="mb-1">{{ partial "sante.html" }}</p>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action list-group-item-success"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Culture</h5>
            </div>
            <p class="mb-1">{{ partial "culture.html" }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col p-1">
      <div class="container-sm text-center mx-auto pb-2 pt-2">
        {{ partial "aujourdhui-et-demain.html"}}

        <!-- list group -->
        <div class="list-group pt-4">
          <a
            href="/galleries/ecole/"
            class="list-group-item list-group-item-action active"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Ecole</h5>
            </div>
            <p class="mb-1">{{ partial "ecole-aujourdhui.html" }}</p>
          </a>
          <a
            href="/Boni/rapport-de-formation2020.pdf"
            class="list-group-item list-group-item-action list-group-item-secondary"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Sante</h5>
            </div>
            <p class="mb-1">{{ partial "sante-aujourdhui.html" }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>