<div class="col-auto">
    <hr>
    <div class="flex text-center">
            <a href="https://fr.wikipedia.org/wiki/Boni_%28Mali%29" class="btn btn-primary box-button">Boni selon wikipedia</a>
            <hr>
            <h3 class="font-effect-shadow-multiple bg-primary">Echantions de musiques peule - Haire & Macina</h3>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">
                <iframe src="https://www.youtube.com/embed/BI3bQc-DcqQ?autoplay=0" allowfullscreen title="YouTube Video"></iframe>
            </div>
            <div class="col">
                <iframe src="https://www.youtube.com/embed/spjNT0_wp1c?autoplay=0" allowfullscreen title="YouTube Video"></iframe>
            </div>
            <div class="col">
                <iframe src="https://www.youtube.com/embed/sxH0mLIuiyY?autoplay=0" allowfullscreen title="YouTube Video"></iframe>
            </div>
            <div class="col">
                <iframe src="https://www.youtube.com/embed/XGzio4GvoxI?autoplay=0" allowfullscreen title="YouTube Video"></iframe>

            </div>
        </div>
        <hr>
    </div>
</div>