<blockquote class="text-start">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">​Construction au sein de l'école d'une bibliothèque.</li>
        <li class="list-group-item">Envoi et achat sur place d'ouvrages pédagogiques et culturels (essentiellement africains).
        </li>
    </ol>
</blockquote>