<blockquote class="text-start">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">​​Aujourd'hui, nous poursuivons notre aide par l'achat de denrées alimentaires et ustensiles pour la cantine.</li>
        <li class="list-group-item">Achat de fournitures scolaires pour les eleves comme pour les enseignants.</li>
    </ol>
    ​
</blockquote>