<blockquote class="text-start  p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">​Emploi de deux instructeurs maliens pendant 3 ans.</li>
        <li class="list-group-item">Aide alimentaire pour la cantine.</li>
        <li class="list-group-item">Fourniture scolaire Sécurisation de l'école</li>
    </ol>
    ​
</blockquote>