
    <!-- navigation bar -->
    <nav
      class="navbar navbar-expand-md fixed-top clearfix navbar-light bg-primary-subtle"
    >
      <div class="container d-flex">
        <div class="justify-content-start">
          <a class="navbar-brand" href="#">
            <img
              src="/Boni/logo-meb.jpg"
              height="50px"
              alt="logo de MEB"
              class="img"
            />
          </a>
        </div>

          <div
            class="clearfix justify-content-center"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <button type="button" class="nav-item btn btn-light btn-sm">
                <a class="nav-link active" aria-current="page" href="/"
                  >Accueil</a
                >
              </button>
              <button type="button" class="nav-item btn btn-light btn-sm">
                <a class="nav-link" href="/about/">Nous</a>
              </button>
              <button type="button" class="nav-item btn btn-light btn-sm">
                <a class="nav-link" href="/documents/"
                  >Information et Adhesion</a
                >
              </button>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-flex centered text-center text-black pt-5 mt-5 bg-success p-2 text-dark bg-opacity-10">
      <h1>
        {{ with .Site.Params.Description }}
        <span class="subheading">{{ . }}</span> {{ end }}
      </h1>
    </div>
    <!-- Bottom  navigation .... complement null !!!-->
    <nav
      class="fixed-bottom nav-pills nav-fill nav justify-content-around pt-5"
      style="
        --bs-breadcrumb-divider: url(
          &#34;data:image/svg + xml,
          %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
        );
      "
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item bg-info"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active bg-info" aria-current="page">
          <a href="/documents/">Info et Adhesion</a>
        </li>
      </ol>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous">
  </script>


