<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
  name="description"
  content="{{ if .Description }}{{ .Description }}{{ end }}"
/>
<meta
  name="author"
  content="{{ if .Params.authors }}{{ .Params.authors }}{{ else if .Site.Params.Author }}{{.Site.Params.Author}}{{ end }}"
/>

<title>{{ .Title }} -- {{ .Site.Title }}</title>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>

<!-- Boostrap icons v1.3 -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>

<!--meb css  -->
<link  rel="stylesheet"
href="css/meb.css"
/>


<!-- google font -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Trirong"
/>
<!-- Global site tag (gtag.js) - Google Analytics -->

<head>
   
 

