<div class="container-sm">
    <blockquote class="text-start">
        <h3 class="font-effect-shadow-multiple bg-primary text-center">Présentation de Mennecy Echanges Boni - MEB </h3>
        <p class="text-sm-start"> Notre association entretient depuis 2002 des liens de confiance, d'amitié et de partenariat avec Boni, petite ville malienne située en zone sahélienne au centre du pays. Avec notre association sœur Boni-Echanges-Mennecy, nous œuvrons à améliorer
            les conditions de vie des habitants dans les domaines de l'éducation, de l'alimentation, de la santé et de la culture. La situation sécuritaire nous empêchant de nous rendre sur place, nous oblige à modifier notre mode de fonctionnement et
            de fait à limiter nos actions. Pour atténuer ces difficultés, nous nous sommes rapprochés du Conseil Départemental de l'Essonne qui, dans le cadre d'une coopération décentralisée avec le conseil de cercle de Douentza (Boni) porte des projets
            d'appui au développement avec le Mali.
        </p>
        <hr>
    </blockquote>
</div>