<h2 class="font-effect-shadow-multiple bg-primary">Nos actions depuis 2002</h2>
<blockquote class="text-start">
    Depuis 2002, nous avons oeuvré dans les domaines de l'école, de la sant​​é et la culture
</blockquote>