<blockquote class="text-start">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">​Achat de médicaments et de petit matériel médical.</li>
        <li class="list-group-item">Entretien de l'ambulance.</li>
        <li class="list-group-item">Achat de motos et indemnisation d'agents vaccinateurs.</li>
    </ol>
</blockquote>