<blockquote class="text-start">
    <ol class="list-group">
        <li class="list-group-item">​Projet de formation sur 3 ans d'une quarantaine d'accoucheuses qui résident dans une des 34 communes de Boni. Ces accoucheuses auront pour mission d'aider les futures mamans qui pour des raisons de sécurité et de moyens matériels ne peuvent se
            déplacer à Boni..</li>

    </ol>
</blockquote>